<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.asr.appframework.server.mapper.mapper.auto.ActionMapper">
  <resultMap id="BaseResultMap" type="cn.asr.appframework.server.mapper.model.auto.Action">
    <!--@mbg.generated-->
    <!--@Table action-->
    <id column="ActionId" jdbcType="INTEGER" property="actionId" />
    <result column="ActionName" jdbcType="VARCHAR" property="actionName" />
    <result column="ActionType" jdbcType="INTEGER" property="actionType" />
    <result column="Level" jdbcType="INTEGER" property="level" />
    <result column="ParentActionId" jdbcType="INTEGER" property="parentActionId" />
    <result column="DeleteFlag" jdbcType="BIT" property="deleteFlag" />
    <result column="RowVersion" jdbcType="INTEGER" property="rowVersion" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    ActionId, ActionName, ActionType, `Level`, ParentActionId, DeleteFlag, RowVersion
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from action
    where ActionId = #{actionId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from action
    where ActionId = #{actionId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.asr.appframework.server.mapper.model.auto.Action">
    <!--@mbg.generated-->
    insert into action (ActionId, ActionName, ActionType, 
      `Level`, ParentActionId, DeleteFlag, 
      RowVersion)
    values (#{actionId,jdbcType=INTEGER}, #{actionName,jdbcType=VARCHAR}, #{actionType,jdbcType=INTEGER}, 
      #{level,jdbcType=INTEGER}, #{parentActionId,jdbcType=INTEGER}, #{deleteFlag,jdbcType=BIT}, 
      #{rowVersion,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.asr.appframework.server.mapper.model.auto.Action">
    <!--@mbg.generated-->
    update action
    set ActionName = #{actionName,jdbcType=VARCHAR},
      ActionType = #{actionType,jdbcType=INTEGER},
      `Level` = #{level,jdbcType=INTEGER},
      ParentActionId = #{parentActionId,jdbcType=INTEGER},
      DeleteFlag = #{deleteFlag,jdbcType=BIT},
      RowVersion = #{rowVersion,jdbcType=INTEGER}
    where ActionId = #{actionId,jdbcType=INTEGER}
  </update>
</mapper>