<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ar.aimark.server.mapper.mapper.auto.RoleactionMapper">
  <resultMap id="BaseResultMap" type="cn.ar.aimark.server.mapper.model.auto.Roleaction">
    <!--@mbg.generated-->
    <!--@Table roleaction-->
    <id column="RoleId" jdbcType="INTEGER" property="roleId" />
    <id column="ActionId" jdbcType="INTEGER" property="actionId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map">
    <!--@mbg.generated-->
    delete from roleaction
    where RoleId = #{roleId,jdbcType=INTEGER}
      and ActionId = #{actionId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.ar.aimark.server.mapper.model.auto.Roleaction">
    <!--@mbg.generated-->
    insert into roleaction (RoleId, ActionId)
    values (#{roleId,jdbcType=INTEGER}, #{actionId,jdbcType=INTEGER})
  </insert>
</mapper>