<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ar.aimark.server.mapper.mapper.auto.RoleMapper">
  <resultMap id="BaseResultMap" type="cn.ar.aimark.server.mapper.model.auto.Role">
    <!--@mbg.generated-->
    <!--@Table role-->
    <id column="RoleId" jdbcType="INTEGER" property="roleId" />
    <result column="RoleName" jdbcType="VARCHAR" property="roleName" />
    <result column="DeleteFlag" jdbcType="BIT" property="deleteFlag" />
    <result column="RowVersion" jdbcType="INTEGER" property="rowVersion" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    RoleId, RoleName, DeleteFlag, RowVersion
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from role
    where RoleId = #{roleId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from role
    where RoleId = #{roleId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.ar.aimark.server.mapper.model.auto.Role">
    <!--@mbg.generated-->
    insert into role (RoleId, RoleName, DeleteFlag, 
      RowVersion)
    values (#{roleId,jdbcType=INTEGER}, #{roleName,jdbcType=VARCHAR}, #{deleteFlag,jdbcType=BIT}, 
      #{rowVersion,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.ar.aimark.server.mapper.model.auto.Role">
    <!--@mbg.generated-->
    update role
    set RoleName = #{roleName,jdbcType=VARCHAR},
      DeleteFlag = #{deleteFlag,jdbcType=BIT},
      RowVersion = #{rowVersion,jdbcType=INTEGER}
    where RoleId = #{roleId,jdbcType=INTEGER}
  </update>
</mapper>