<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.asr.appframework.server.mapper.mapper.auto.UserroleMapper">
    <resultMap id="BaseResultMap" type="cn.asr.appframework.server.mapper.model.auto.Userrole">
        <!--@mbg.generated-->
        <!--@Table userrole-->
        <id column="UserId" jdbcType="INTEGER" property="userId"/>
        <id column="RoleId" jdbcType="INTEGER" property="roleId"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="map">
        <!--@mbg.generated-->
        delete from userrole
        where UserId = #{userId,jdbcType=INTEGER}
        and RoleId = #{roleId,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="cn.asr.appframework.server.mapper.model.auto.Userrole">
        <!--@mbg.generated-->
        insert into userrole (UserId, RoleId)
        values (#{userId,jdbcType=INTEGER}, #{roleId,jdbcType=INTEGER})
    </insert>
    <select id="selectByUserId" resultMap="BaseResultMap">
        select * from userrole where UserId=#{userId,jdbcType=INTEGER}
    </select>
</mapper>