.RectLabelsList {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;

  .RectLabelsListContent {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
  }
  .CategoryText{
    color: white;
  }
  .CategotyTextItems{
    font-size: 11px;
    color: #ff4d4f;
  }
}
